@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background-color: rgb(22, 25, 27);
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(212, 212, 212);
}
